/* component-library-styles */
@import url("https://krishui.netlify.app/main/dev/styles.css");
/* pages-styles */
@import url(./pages/home/home.css);
@import url(./pages/cart/cart.css);
@import url(./pages/wishlist/wishlist.css);
@import url(./pages/product-listing/product-listing.css);

<<<<<<< HEAD
.index-card
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
=======
>>>>>>> 6cdf5e1c051c0fc2156b2d1878d755bc730d22bd

