#wishlist-page
{
    margin: 0% 9%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    grid-row-gap: 1rem;
}
.badge-heart
{
    font-size: 1.3rem;
    padding: 0.2rem 0.4rem;
    background-color: var(--white);
    color: var(--danger-color);
    border-radius: 50%;
    position: absolute;
    right:0.8rem;
    top: 0.5rem;
}